<div class="p-grid p-dir-col p-justify-between login">
    <div class="p-col">
        <h3 class="first">Usuario</h3>
        <input type="text" [(ngModel)]="usuario" (change)="verificarUsuarioESenha($event)" pInputText>
        {{ usuario }}
    </div>
    <div class="p-col">
        <h3 class="first">Senha</h3>
        <input type="password" [(ngModel)]="senha" (change)="verificarUsuarioESenha($event)" pInputText>
    </div>
    <div class="p-col">
        <p-button label="Logar" (click)="logar()" [disabled]="liberar"></p-button>
        <!-- <h3 class="first">Cadastre-se:</h3>
        <p-button label="Cadastrar"></p-button> 
        -->
    </div>
</div>